.videocard-wrap{
    background-color: #ebf5f5;
    padding:10px;
    border-radius: 10px;
    min-height: 70px;
    max-height: 300px;
    max-width: 360px;
    min-width: 260px;
    margin:24px 13px 4px 15px;
    border:1px solid #4d4c4c;
    position: relative;
}
.card-img{
    width:95%;
    margin:5px auto;
  }
p.videoTitle {
  margin-bottom: 0;
  }
  .playIcon{
    position: absolute;
    width:36px;
    max-width:36px;
    left:120px;
    height: 36px;
    top:100px;
    color:#4e4ed1;
    border-radius: 50%;
    font-size: 36px;
  }
 .icon{
    margin: auto;
    background-color:#fff;
  }