.ellipsis-button{
    width:24px;
    font-size:'14px';
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}
.ellipsis-button:hover{
    background-color: #ddedeeb6;   
    
}
.delete-btn{
    color:#f12805;
    margin-left: auto;
    cursor: pointer;
  }