.loadersection{
 width:100%;
}
.loadermain{
  padding:20px 10px 10px;
  margin:5px auto; 
}
.loaderspinner{
  width:95%;
  max-width:170px;
}
.loaderspinner img{
 width:100%;
}
.loading-caption{
    font:bold 1.3em "Arial Narrow",Arial,Verdana;
    width:60%;
    margin:40px auto 10px; 
    max-width: 250px;   
}