.sectioncntr{
width:100%;
padding:10px 10px;
min-width:350px;
background-color: #e1e7eb;
}
.sectioncntr .topsctn{
  justify-content: space-between;
  display:flex;
  align-items:baseline
}
.ailink{
  display: none;
  justify-content: end;
}
.ailink p{
  margin: 0 6% 0 0;
  font: normal 0.85em Verdana,Cambria, Geneva, sans-serif; 
}

.searchbox{
 padding:5px 0;
 width:70%;
 min-width: none;
 margin:0 5px;
}

.app-menu nav{
  padding:4px 5px;
 }
.app-menu nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.app-menu nav ul li{
  display: inline-block;
  display:inline;
  margin-right: 10px;
}
.app-menu nav ul li a{
  text-decoration: none;
  color: #13121d ;
}
.app-menu nav ul li a:hover{
  font-weight: bold;
  color:#a00808;
  text-decoration: underline;
  
 
}
.chtlnk, .app-menu nav ul li a.chtlnk{
  text-decoration: none;
  color:#165844;
  white-space:nowrap ; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.homelnk{
  font-size:28px;  
 }
.homeicon{
  color:#6566a0; /*  #4873ce */
}
.pstqa{
  border: 1px solid #272630;
  border-radius: 10px;
}
.search-btn{
 background-color:#6566a0 !important;/* #4873ce */
}
.pstqa button{
    font:normal 0.59em Verdana, cambria, "Times New Roman"; 
    width:70px;
}

  @media screen and (min-width:630px) {
    .topsctn{
     margin: 10px auto;
     justify-content:space-around;
    }
    .homelnk{
      margin-left:20px;      
     }
    .searchBox{
      height:49px;
    }
    .search-btn{
      width:75px !important;/* #4873ce */
     }
     .pstqa button{
       width:80px;
       height:37px !important;
      }
      .pstqa{
        margin-right: 10px;
      }
     .app-menu{
       width:70%;
       margin:0 auto;
      }
      .app-menu nav ul li{
         margin-right: 30px;
      }
  }
  @media screen and (min-width:750px) {
    .topsctn{
       margin:27px auto 4px;      
      }     
     
  }
  @media screen and (min-width:845px) {
    .topsctn{
       max-width: 720px;
       min-width: 720px;
      }     
     
  }
  @media screen and (min-width:980px) {
    .ailink{
      width:150px ; 
      margin-top:10px ;
      margin-right:6%;
    }
    
    .ailink p{
      font-size:0.98em;
    }
   .sectioncntr{
      display: flex;
      align-items: center;
    }
    .topsctn{
      margin:17px auto 4px;
     }  
     .app-menu nav ul li a{
      font-size:1.1em;
    } 
  }
  @media screen and (min-width:1150px) {
    .topsctn{
     min-width: 870px;
     max-width: 870px;
     } 
  }
