/*--------------------------------------------------------------------------
# Override some default Bostrap stylings
---------------------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu{
  border-radius: 4px;
  padding:10px 0;
  -webkit-animation-name: dropdown-animate;
  animation-name: dropdown-animate;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border:0;
  box-shadow: 0 5px 30px 0 rgba(82,63,105,0.2);
}
.dropdown-menu .dropdown-header, .dropdown-menu .dropdown-footer{
  text-align: center;
}
.dropdown-menu .dropdown-footer a{
  color:#444444;
  text-decoration: underline;
}
.dropdown-menu .dropdown-footer a:hover{
text-decoration: none;
}
.dropdown-menu .dropdown-divider {
color:#a5c5fe;
margin: 0;
}
.dropdown-menu .dropdown-item {
  font-size: 14px;
 padding:10px 15px;
 transition:0.3s;
}
.dropdown-menu .dropdown-item i{
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover{
  background-color: #f6f9ff;
}
@media screen and(min-width) {
  .dropdown-menu-arrow::before{
      content: '';
      width:13px;
      height: 13px;
      background: #fff;
      position: absolute;
      top: -7px;
      right: 20px;
      transform: rotate(45deg);
      border-top: 1px solid #eaedf1;
      border-left:1px solid #eaedf1
  }
}
@-webkit-keyframes dropdown-animate{
  0% {
     opacity: 0;
  }
  100% {
      opacity: 1;
  }
  0% {
      opacity: 0;
  }
}
@keyframes dropdown-animate{
  0% {
     opacity: 0;
  }
  100% {
      opacity: 1;
  }
  0% {
      opacity: 0;
  }
}
/* ----------------------------- End of bootstrap overide  */
.center{
  margin:0 auto;
}
.float_L{
float: left;
}
.float_R{
float: right;
}
.cf:before, .cf:after {content:" "; display:table;}
.cf:after{clear: both;}
a:hover{
text-decoration: none;
}
.errTxt{
color:#be3232;/* #E80000; */
margin:1px 0 3px;
width:90%;
font:normal 0.9em Verdana, Geneva, sans-serif;
}
.relative{
position: relative;
}
.absolute{
position: absolute;
}
.shadow{
  box-shadow:rgba(84, 124, 235, 0.34) 0 0 18px 2px; 
}
.page-enclose{
  display:flex;
  flex-direction:column;
  justify-content: space-between; 
  min-width: 350px;
  max-width: 2400px;
  min-height:100vh;
  
}
#main{
  margin:98px auto;
  width:97%;
  min-width:337px;
  padding: 3px;
  border-radius: 8px;
  min-height: 320px;
}
/*Home page*/
.homepg{
  width: 100%;
 }
.homepg-backdrop{
  background: #fff url('./assets/edolib_bg1220.jpg') no-repeat 0;
  background-size:cover;
}
.section-auth{
  margin:145px auto 20px;
  width:95%;
  max-width:400px ; 
}
.mode-switch{
 width:55%;

 margin-top: 0;
}
.mode-switch a{
  text-decoration: none;
  color:#f6f9ff; 
  margin-bottom:50px;
}
/*Landing page*/
.hdrcatlog{
  width:60%;
  max-width: 160px;
  margin:0 auto 3px;
  font:bold 1.1em Arial,"Arrow Narrow", "Times New Roman";
  color:#4f4f50;

}
.landingpg{
  padding-top:39px;
}
.searchmatches{
   color:#175bc2;
    width:85%;
    max-width: 180px;
    margin: 3px auto;
    font-weight: bold;
}
.zerobooks{
  margin:20% auto;
  padding:15px 20px;
  width:95%;
  max-width:1600px;
}
.zerobooks h3{
  font:bold 0.99em Arial, Helvetica;
  color:#137777;
}
.lnkviewcatlog{
 text-decoration: none;
 width:40px;
 margin:1px 0 0 15px;
 color:#575858;
 font: normal 0.85em Verdana, cambria, sans-serif;
}
.pdfshow{
  width:100%;
  border:2px solid #221444;
}
.lndngrght{
  max-width: 320px;
  width:95%; 
  margin:0 auto; 
}
.lndnglft{
  border:none;  
  display:flex;
}
.lndng-cntr{
  width:94%;
  padding:20px;
  margin:0 auto;
}
.lndnglft .stdyenclose {
  width:80%;
  padding:10px 10px;
  box-shadow:rgba(84, 124, 235, 0.34) 0 0 18px 2px;
  background-color:#f8f9fa;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  max-width: 330px; 
  margin: 40px auto;
}
.newadds {
 margin: 0;
}
/* BookRead */
 .backreadcntr{
   margin-top:190px;
 }
 

 /* Video Watch */
 .vidviewpg{
  padding-top:39px;
 }
 .vidpglft{
  padding:20px 10px;
  max-width:320px;
  margin:0 auto;
 }
 .videowatchmini{
   width:90%;
   min-width:100px;
   max-width:210px;
   padding:5px;
   margin:2px auto 20px;
  background-color: #a8a4b9 ;
 }
 .videowatchmini img{
  width: 100%;
 }
 .vidpgcentr {
  width:94%;
  margin:2px auto;
  padding:20px;
 }
 .vidlnktitle{  
  color:#2c2933;
  text-decoration: none;
 }
 .ptitle{
  max-width:160px;
  margin: 2px auto; 
  white-space:nowrap ; 
  overflow: hidden;
  text-overflow: ellipsis; 
  font:normal 0.9em Arial,"Times New Roman", Helvetica;
 }
 .rcnt-vids{
  width:90%;
  max-width:162px;
  margin: 0 auto 10px;
  font: normal 0.91em Arial, Helvetica, Calibri;
 }
 .vidwatchcntr{
  padding:10px ;
  background-color: #6d7a91;
  margin:10px auto;
  position:relative;
  
 }
 .btnstcn-rcntvids{
   width:80%;
   max-width: 120px;
   margin: 12px auto;
  
 }
 .btn-rcntvidsmore{
   font: normal 0.85em cambria,Verdana, Calibri, sans-serif !important;
 }
 
/*Not found page*/
.notfoundpg{
  min-width: 310px;
  width:95%;
  margin:120px auto ;
  padding:10px 20px;
}
/*Add book modal*/
.titlefilter{
  width:100%;
  padding: 20px 10px;
}
.srchcntrl{
  height: 40px;
  width:60% !important;
  min-width:150px;
}
.btn-modalsrch{
  background-color: #3a246d !important;
  color:#ffffff !important;
}
@media screen and (min-width:600px) {
  .vidpgcentr{
   width:70%;   
  }
  
}
@media screen and (min-width:745px) {
  .landingpg, .vidviewpg{
    padding-top:58px;
  }
  
}
@media screen and (min-width:980px) {
  .lnkviewcatlog, .lnkvidzrcnt{
    display: none;
  }
  .landingpg, .vidviewpg{
    padding-top:80px
  }
  .lndngmain{
    display:flex;
    padding-top:20px;
    justify-content:space-between;
    margin:0 auto;
    max-width:1700px;
  }
  .lndng-cntr{
    width:45%;
    padding:23px 10px ;
  }
  .lndngrght{
    margin: 0;  
  }
  .lndnglft .stdyenclose{
   margin-right:7px;
   margin-left:10px;
   padding:10px 5px;
  }
  .lndnglft{
   margin:0;
   width:29%;
 
  }
  .vidmain{
    display: flex;
    justify-content: space-between;
  }
  .vidpgcentr{
    margin-top: 20px;    
  }
  .vidwatchcntr{
    margin:0 auto;
    }
}
